@media screen and (min-width: 320px) {
  html {
    background-color: rgb(235, 203, 203);
  }
  html .logo {
    height: 100%;
    width: 100%;
    text-align: right;
  }
  html .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
  }
  html .botones .btn, html .botones .boton2, html .botones .boton1 {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
  }
  html .botones .boton1 {
    background-color: grey;
  }
  html .botones .boton2 {
    background-color: orange;
  }
  html .lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  html .lista li {
    display: inline;
    background-color: rgb(161, 255, 107);
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
  }
  html .pie {
    background: linear-gradient(to right, rgb(54, 48, 48), rgb(31, 18, 18), rgb(43, 8, 8));
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: justify;
    color: white;
    border: solid 5px rgb(54, 48, 48);
    width: 98%;
  }
  html .subtitulo1 {
    font-size: 40px;
    text-align: center;
  }
  html .texto1 {
    font-size: 20px;
    text-align: center;
  }
  html .logo {
    grid-area: logo;
  }
  html .lista {
    grid-area: lista;
  }
  html .section1 {
    grid-area: section1;
  }
  html .pie {
    grid-area: pie;
  }
  html #contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 20% auto 29%;
    grid-template-areas: "logo" "lista" "section1" "pie";
  }
  html #contenedor1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 45% auto;
    grid-template-areas: "logo" "lista" "pie";
  }
}
@media screen and (min-width: 1200px) {
  html {
    background-color: rgb(235, 203, 203);
  }
  html .logo {
    height: 400px;
    width: 100%;
    text-align: right;
  }
  html .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
  }
  html .botones .btnB, html .botones .boton2, html .botones .boton1 {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  html .botones .boton1 {
    background-color: grey;
  }
  html .botones .boton2 {
    background-color: orange;
  }
  html .lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  html .lista li {
    display: inline;
    background-color: rgb(161, 255, 107);
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
  }
  html .pie {
    background: linear-gradient(to right, rgb(54, 48, 48), rgb(31, 18, 18), rgb(43, 8, 8));
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: left;
    color: white;
    border: solid 5px rgb(54, 48, 48);
    width: 99.5%;
  }
  html .subtitulo1 {
    font-size: 50px;
    text-align: center;
  }
  html .texto1 {
    font-size: 30px;
    text-align: center;
  }
  html .logo {
    grid-area: logo;
  }
  html .lista {
    grid-area: lista;
  }
  html .section1 {
    grid-area: section1;
  }
  html .pie {
    grid-area: pie;
  }
  html #contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 10% auto 28%;
    grid-template-areas: "logo" "lista" "section1" "pie";
  }
  html #contenedor1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 20% auto;
    grid-template-areas: "logo" "lista" "pie";
  }
  .discord {
    background-color: grey;
  }
  .email {
    background-color: orange;
  }
} /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */